:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --section-padding: 100px;
  --section-background: #ececec;
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding: 0px 15px;
  margin: 0 auto;
}
/* small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/*      special heading       */

.special-heading {
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
}
.special-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 25px);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.special-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  z-index: -1;
}
.special-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  z-index: -1;
}
.special-heading:hover::before {
  left: 0;
  animation: fell 0.5s 0.2s forwards;
}
.special-heading:hover::after {
  right: 0;
  animation: fell 0.5s 0.2s forwards;
}
@keyframes fell {
  0% {
    width: 20%;
    height: 20%;
    border-radius: unset;
  }
  100% {
    width: 70%;
    height: 100%;
    border-radius: unset;
  }
}
.special-heading:hover {
  animation: no-border 0.3s 0.6s linear forwards;
}
@keyframes no-border {
  0% {
    border: 2px solid rgba(0, 0, 0, 0.7);
  }
  50% {
    border: 2px solid rgb(255, 255, 255);
  }
  100% {
    border: 2px solid rgb(255, 255, 255);
    color: white;
  }
}
.special-heading h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/*        DIVIDER       */
.divider {
  position: relative;
}
.divider::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px;
}

/* --------------------- */
/*        Header        */
/* --------------------- */

/*                NAV           */

header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--section-background);
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}
header nav {
  background-color: white;
  box-shadow: 0px 0px 10px #ddd;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header nav .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .main-menu {
  display: flex;
}
header nav .main-menu > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  padding: 0 30px;
  color: black;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
header nav .main-menu > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header nav .main-menu > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header nav .main-menu > li > a:hover::before {
  right: 0;
}
header nav .main-menu > li .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  padding: 30px;
  display: flex;
  column-gap: 40px;
  z-index: -4;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition),
    display var(--main-transition);
}
header nav .main-menu > li.mega:hover .mega-menu {
  height: auto;
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 100;
}
header nav .main-menu > li .mega-menu .image img {
  width: 100%;
}
header nav .main-menu > li .mega-menu .links {
  min-width: 250px;
}
header nav .main-menu > li .mega-menu .links > li {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
header nav .main-menu > li .mega-menu .links > li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
header nav .main-menu > li .mega-menu .links > li:hover::before {
  right: 0;
}
header nav .main-menu > li .mega-menu .links > li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
header nav .main-menu > li .mega-menu .links > li > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
}
header nav .main-menu > li .mega-menu .links > li > a > i {
  width: 35px;
}
@media (max-width: 1023px) {
  header nav .main-menu > li .mega-menu .links {
    width: 50%;
  }
  header nav .main-menu > li .mega-menu .image {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav .logo {
    width: 100%;
    height: 50px;
    align-items: flex-end;
  }
  header nav .main-menu {
    margin: 0 auto;
  }
  header nav .main-menu > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
  header nav .main-menu > li .mega-menu {
    padding: 0px;
    flex-wrap: wrap;
  }
  header nav .main-menu > li .mega-menu:nth-child(2) li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
  header nav .main-menu > li .mega-menu .links {
    width: 100%;
  }
  header nav .main-menu > li .mega-menu .links > li > a {
    padding: 20px 0px 20px 20px;
  }
}

/*            HEADER               */

.header-content .container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-content .text {
  width: 47%;
}
.header-content .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
}
.header-content .text h1 span {
  color: var(--main-color);
}
.header-content .text p {
  margin: 5px 0 0;
  color: #666;
  font-size: 23px;
  line-height: 1.7;
  max-width: 500px;
}
.header-content .img-container {
  width: 56%;
  transform: translateY(0);
  animation: move-to-top 6s linear 1s infinite alternate;
}
@keyframes move-to-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header-content .img-container img {
  width: 100%;
}
@media (max-width: 1023px) {
  .header-content .container {
    justify-content: center;
  }
  .header-content .text {
    width: 70%;
    text-align: center;
    margin-top: 50px;
  }
  .header-content .text p {
    max-width: 100%;
  }
  .header-content .img-container {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-content .text {
    width: 100%;
    margin-top: 50px;
  }
  .header-content .text h1 {
    font-size: 28px;
  }
  .header-content .text p {
    font-size: 18px;
  }
}

/*            SLIDER               */

.slider {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  animation: bounce 1s linear 1s infinite alternate;
}
@keyframes bounce {
  0% {
    bottom: 20px;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  75% {
    bottom: 10px;
  }
  100% {
    bottom: 10px;
  }
}
@media (max-width: 767px) {
  .slider i {
    font-size: 20px;
  }
}

/* --------------------- */
/*        ARTICLES        */
/* --------------------- */

.articles {
  padding: var(--section-padding) 0;
}
.articles .container {
  display: flex;
  justify-content: flex-start;
  column-gap: 4%;
  row-gap: 50px;
  flex-wrap: wrap;
}
.articles .container .box {
  width: 22%;
  border-radius: 7px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top var(--main-transition), box-shadow var(--main-transition);
}
.articles .container .box:hover {
  top: -15px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
}
.articles .container .box .text {
  padding: 20px;
}
.articles .container .box .text h3 {
  margin: 0;
}
.articles .container .box .text p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0px 20px;
}
.articles .container .box .text a {
  display: block;
  padding-top: 19px;
  position: relative;
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ddd;
}
.articles .container .box .text a::after {
  content: "\f30b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--main-color);
  position: absolute;
  right: 0;
  top: 60%;
}
.articles .container .box:hover .text a::after {
  animation: icon-move 0.5s infinite;
}
@keyframes icon-move {
  100% {
    right: -10px;
  }
}
@media (max-width: 1024px) {
  .articles .container {
    column-gap: 3.5%;
  }
  .articles .container .box {
    width: 31%;
  }
}
@media (max-width: 768px) {
  .articles .container {
    column-gap: 6%;
  }
  .articles .container .box {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .articles .container .box {
    width: 100%;
  }
}

/* --------------------- */
/*        GALLERY        */
/* --------------------- */

.gallery {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.gallery .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}
.gallery .container .box {
  width: 31%;
  border: 15px solid white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
}
.gallery .container .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
@keyframes flench {
  0% {
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    height: 50%;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    height: 50%;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
  }
}
.gallery .container .box:hover::before {
  animation: flench 0.3s;
}
.gallery .container .box:hover img {
  transform: rotate(4deg) scale(1.1);
}
.gallery .container .box img {
  width: 100%;
  transition: var(--main-transition);
}
@media (max-width: 768px) {
  .gallery .container .box {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .gallery .container .box {
    width: 100%;
  }
}

/* --------------------- */
/*        FEATURES        */
/* --------------------- */

.features {
  padding: var(--section-padding) 0px;
}
.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
.features .container .box {
  width: 31%;
  border: 1px solid #ccc;
}
.features .container .box:hover .img-container::after {
  border-width: 0px 400px 170px 0px;
}
.features .container .img-container {
  position: relative;
  overflow: hidden;
}
.features .container .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
}
.features .container .box:nth-child(1) .img-container::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .box:nth-child(2) .img-container::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .box:nth-child(3) .img-container::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .img-container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-width: 0px 0px 170px 450px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .container .img-container img {
  width: 100%;
}

.features .container .text h3 {
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.features .container .text h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 15px;
}
.features .container .box:nth-child(1) .text h3::after {
  background-color: #f44036;
}
.features .container .box:nth-child(2) .text h3::after {
  background-color: #009688;
}
.features .container .box:nth-child(3) .text h3::after {
  background-color: #03a9f4;
}
.features .container .text p {
  font-size: 20px;
  line-height: 2;
  padding: 25px;
  margin: 30px 0px;
  color: #777;
  text-align: center;
}
.features .container a {
  border: 3px solid transparent;
  font-size: 22px;
  font-weight: bold;
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  border-radius: 6px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
.features .container .box:nth-child(1) a {
  color: #f44036;
  border-color: #f44036;
}
.features .container .box:nth-child(2) a {
  color: #009688;
  border-color: #009688;
}
.features .container .box:nth-child(3) a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.features .container a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  transition: var(--main-transition);
  z-index: -4;
}
.features .container .box:nth-child(1) a::before {
  background-color: #f44036;
}
.features .container .box:nth-child(2) a::before {
  background-color: #009688;
}
.features .container .box:nth-child(3) a::before {
  background-color: #03a9f4;
}
.features .container .box:hover a {
  color: white;
}
.features .container .box:hover a::before {
  right: 0;
}
@media (max-width: 768px) {
  .features .container .box {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .features .container .box {
    width: 100%;
  }
}

/* --------------------- */
/*     TESTIMONIALS      */
/* --------------------- */

.testimonials {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.testimonials .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  width: 31%;
  padding: 20px;
  border-radius: 6px;
  position: relative;
}
.testimonials .container .box .img-holder {
  position: absolute;
  width: 100px;
  top: -50px;
  right: -10px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .container .box .img-holder img {
  width: 100%;
}
.testimonials .container .box h3 {
  margin: 0;
}
.testimonials .container .box span {
  display: block;
  margin: 10px 0px;
  color: #666;
}
.filled-star {
  color: #ffc107;
}
.testimonials .container .box p {
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}
@media (max-width: 1024px) {
  .testimonials .container .box {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .testimonials .container .box {
    width: 100%;
  }
}

/* --------------------- */
/*         team          */
/* --------------------- */

.team {
  padding: var(--section-padding) 0px;
}
.team .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 50px;
}
.team .container .box {
  width: 32%;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.team .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  border-radius: 10px;
  background-color: var(--section-background);
  z-index: -1;
}
.team .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  transition: var(--main-transition);
}
.team .container .box:hover::after {
  left: 60px;
}
.team .container .box .img-holder {
  width: calc(100% - 60px);
}
.team .container .box .img-holder img {
  width: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .container .box:hover .img-holder img {
  filter: grayscale(100%);
}
.team .container .box .social {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.team .container .box .social a {
  color: #777;
  font-size: 18px;
  transition: var(--main-transition);
}
.team .container .box .social a:hover {
  color: var(--main-color);
}
.team .container .box .text {
  width: 100%;
  padding: 15px 0px 15px 80px;
}
.team .container .box .text h3 {
  font-size: 22px;
  color: var(--main-color);
  margin: 0;
  transition: var(--main-transition);
}
.team .container .box:hover h3 {
  color: #777;
}
.team .container .box .text p {
  margin: 10px 0px 0px;
}
@media (max-width: 1024px) {
  .team .container {
    column-gap: 4%;
    row-gap: 30px;
  }
  .team .container .box {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .team .container .box {
    width: 100%;
  }
}

/* --------------------- */
/*         SERVICES      */
/* --------------------- */

.services {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.services .container .service {
  background-color: white;
  width: 31%;
  text-align: center;
  padding: 30px 0px 0px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  position: relative;
  transition: var(--main-transition);
}
.services .container .service:hover {
  transform: translateY(-13px);
}
.services .container .service::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .service:hover::before {
  width: 100%;
}
.services .container .service i {
  color: #d5d5d5;
}
.services .container .service h3 {
  font-size: 25px;
  color: var(--main-color);
  margin: 20px 0px 50px;
}
.services .container .service .info {
  text-align: right;
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
}
.services .container .service .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background-color: var(--main-color);
  color: white;
  font-size: 30px;
  padding-right: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .service .info::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  background-color: #d5d5d5;
  transform: skew(-30deg);
}
.services .container .service .info a {
  color: var(--main-color);
}
@media (max-width: 1024px) {
  .services .container .service {
    width: 47.8%;
  }
}
@media (max-width: 767px) {
  .services .container .service {
    width: 100%;
  }
}

/* --------------------- */
/*         SKILLS        */
/* --------------------- */

.skills {
  padding: var(--section-padding) 0px;
}
.skills .container {
  display: flex;
}
.skills .container .img-holder {
  width: 45%;
}
.skills .container .img-holder img {
  width: 100%;
}
.skills .container .skills-content {
  flex: 1;
}
.skills .container .skills-content h3 {
  margin: 0;
}
.skills .container .skills-content .progress-bar {
  height: 30px;
  background-color: #eee;
  margin: 20px 0;
  position: relative;
}
.skills .container .skills-content .progress-bar:last-child {
  margin-bottom: 0;
}
.skills .container .skills-content .progress-bar::after {
  content: attr(progress-data);
  position: absolute;
  right: 0;
  top: -41px;
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.skills .container .skills-content span {
  background-color: var(--main-color);
  display: block;
  height: 30px;
}
@media (max-width: 768px) {
  .skills .container .img-holder {
    display: none;
  }
}

/* --------------------- */
/*       WORK STEPS      */
/* --------------------- */

.work-steps {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-steps .container > .img-holder img {
  width: 100%;
}
.work-steps .container > .step-by-step {
  width: 50%;
}
.work-steps .container > .step-by-step .box {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 6px;
}
.work-steps .container > .step-by-step .box:not(:last-child) {
  margin-bottom: 20px;
}
.work-steps .container > .step-by-step .box > .img-holder {
  width: 64px;
}
.work-steps .container > .step-by-step .box > .img-holder img {
  width: 100%;
}
.work-steps .container > .step-by-step .box .info {
  flex: 1;
}
.work-steps .container > .step-by-step .box .info h3 {
  font-size: 22px;
  margin: 0;
}
.work-steps .container > .step-by-step .box .info p {
  font-size: 18px;
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
}
@media (max-width: 1024px) {
  .work-steps .container > .step-by-step {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .work-steps .container {
    flex-direction: column;
    row-gap: 40px;
  }
  .work-steps .container > .img-holder {
    flex: 1;
  }
  .work-steps .container > .step-by-step {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .work-steps .container > .step-by-step .box {
    text-align: center;
    flex-direction: column;
    row-gap: 40px;
  }
}

/* --------------------- */
/*         EVENTS        */
/* --------------------- */

.events {
  padding: var(--section-padding) 0px;
}
.events .container {
  display: flex;
  align-items: center;
}
.events .img-holder {
  width: 70%;
}
.events .img-holder img {
  width: 100%;
}
.events .events-content {
  text-align: center;
}
.events .events-content .units {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 15px 0px;
}
.events .events-content .units .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--main-transition);
}
.events .events-content .units .unit:hover {
  border-color: var(--main-color);
}
.events .events-content .units .unit .number {
  display: block;
  color: var(--main-color);
  font-size: 35px;
  font-weight: bold;
  padding: 15px;
}
.events .events-content .units .unit .string {
  display: block;
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.events .events-content .units .unit:hover .string {
  border-top-color: var(--main-color);
}
.events .events-content .text h3 {
  font-size: 30px;
  margin: 40px 0px 0px;
}
.events .events-content .text p {
  color: #777;
  font-size: 19px;
  line-height: 1.7;
}
.events form {
  background-color: #f6f5f5;
  width: 600px;
  max-width: 90%;
  margin: 50px auto 0px;
  padding: 30px 40px;
  border-radius: 50px;
  display: flex;
  column-gap: 20px;
}
.events form input[type="email"] {
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--main-color);
  flex: 1;
}
.events form input[type="submit"] {
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.events form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 1024px) {
  .events .img-holder {
    width: 140%;
  }
}
@media (max-width: 768px) {
  .events .img-holder {
    display: none;
  }
}
@media (max-width: 767px) {
  .events form {
    flex-direction: column;
    border-radius: 0;
    padding: 20px;
    row-gap: 20px;
  }
  .events form input[type="email"],
  .events form input[type="submit"] {
    border-radius: 0px;
  }
}

/* --------------------- */
/*         PRICING        */
/* --------------------- */

.pricing {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.pricing .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5%;
  row-gap: 30px;
}
.pricing .box {
  width: 31.5%;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing .box::before {
  top: 0;
  right: 100%;
}
.pricing .box::after {
  bottom: 0;
  left: 100%;
}
.pricing .box:hover::before {
  right: 0;
}
.pricing .box:hover::after {
  left: 0;
}
.pricing .box .title {
  text-align: center;
  position: relative;
}
.pricing .box:nth-child(2) .title::before {
  content: "Most Popular";
  position: absolute;
  top: 25px;
  right: -35px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 35px 10px 10px;
  transform: rotate(90deg);
}
.pricing .box:nth-child(2) .title::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 20px;
  border: 20px solid;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.pricing .box:nth-child(2):hover .title::after {
  border-color: transparent transparent #f6f6f6 transparent;
}
.pricing .box .title h3 {
  font-size: 25px;
  margin: 30px 0px;
  letter-spacing: -1px;
}
.pricing .box .title img {
  width: 80px;
}
.pricing .box .title .price {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  margin: 30px 0px 5px;
}
.pricing .box .title span {
  color: #777;
  display: block;
  margin-bottom: 30px;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
  position: relative;
}
.pricing .box ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing .box a {
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px 20px;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color);
  color: white;
}
@media (min-width: 1200px) {
  .pricing .box:nth-child(2) {
    top: -20px;
  }
}
@media (max-width: 1024px) {
  .pricing .container {
    column-gap: 4%;
  }
  .pricing .box {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .pricing .container {
    column-gap: 0;
  }
  .pricing .box {
    width: 100%;
  }
}

/* --------------------- */
/*         VIDEOS        */
/* --------------------- */

.videos {
  padding: var(--section-padding) 0px;
}
.videos .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 20px;
}
.videos .top-videos {
  min-width: 300px;
  border-left: 1px solid var(--section-background);
}
.videos .top-videos .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-top: 1px solid var(--section-background);
  border-bottom: 1px solid var(--section-background);
}
.videos .top-videos .top h3 {
  margin: 0;
}
.videos .top-videos li a {
  display: block;
  padding: 20px;
  transition: var(--main-transition);
  border-bottom: 1px solid var(--section-background);
}
.videos .top-videos li a:hover {
  background-color: #fafafa;
}
.videos .top-videos li a p {
  margin: 0;
  color: black;
  transition: var(--main-transition);
}
.videos .top-videos li a:hover p {
  color: var(--main-color);
}
.videos .top-videos li a span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .video-area {
  flex: 1;
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .video-area img {
  width: 100%;
}
.videos .video-area p {
  margin: 0;
  padding: 20px;
  background-color: white;
}
@media (max-width: 768px) {
  .videos .top-videos {
    width: 100%;
  }
}

/* --------------------- */
/*         STATS        */
/* --------------------- */

.stats {
  padding: var(--section-padding) 0px;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255 255 255 / 95%);
  z-index: 0;
}
.stats h2 {
  text-align: center;
  margin: 0px 0px 50px 0px;
  font-size: 40px;
  position: relative;
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 20px;
}
.stats .box {
  width: 23.5%;
  background-color: white;
  padding: 30px 0px;
  text-align: center;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box::before {
  left: 0;
  top: 100%;
}
.stats .box::after {
  bottom: 100%;
  right: 0;
}
.stats .box:hover::before {
  left: 0;
  top: 0;
}
.stats .box:hover::after {
  bottom: 0;
  right: 0;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0px;
}
.stats .box h3 {
  color: var(--main-color);
  margin: 0;
  font-style: italic;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .stats .container {
    column-gap: 2%;
  }
  .stats .box {
    width: 32%;
  }
}
@media (max-width: 768px) {
  .stats .container {
    column-gap: 3%;
  }
  .stats .box {
    width: 48.5%;
  }
}
@media (max-width: 767px) {
  .stats .box {
    width: 100%;
  }
}

/* --------------------- */
/*         DISCOUNT        */
/* --------------------- */

.discount {
  display: flex;
  flex-wrap: wrap;
}
.discount .blue-half,
.discount .white-half {
  width: 50%;
}
.discount .blue-half {
  background-image: url("../images/discount-background1.jpg");
  background-size: cover;
  padding: 70px 0px 30px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  animation: change-bg 10s linear infinite;
}
.discount .blue-half::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(23 135 224 / 97%);
  z-index: 1;
}
.discount .blue-half .content {
  text-align: center;
  padding: 0px 20px;
  z-index: 2;
}
.discount .blue-half h2 {
  margin: 30px 0px 30px;
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .blue-half p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.discount .blue-half img {
  width: 300px;
  max-width: 100%;
}
.discount .white-half {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.discount .white-half .form-holder {
  max-width: 100%;
  padding: 0px 20px;
}
.discount .white-half .form-holder h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .white-half .form-holder input,
.discount .white-half .form-holder textarea {
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding: 15px;
  caret-color: var(--main-color);
}
.discount .white-half .form-holder textarea {
  resize: none;
}
.discount .white-half .form-holder input[type="submit"] {
  background-color: var(--main-color);
  margin-bottom: 0;
  color: white;
  transition: var(--main-transition);
  cursor: pointer;
}
.discount .white-half .form-holder input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
@keyframes change-bg {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
@media (max-width: 768px) {
  .discount .blue-half,
  .discount .white-half {
    width: 100%;
  }
}

/* --------------------- */
/*         FOOTER        */
/* --------------------- */

footer {
  padding: 70px 0px 0px;
  background-color: #191919;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
footer .box {
  width: 22.5%;
  color: #b9b9b9;
}
footer .box > h3 {
  font-size: 50px;
  color: white;
  margin: 0px 0px 20px;
}
footer .box > .social {
  display: flex;
  column-gap: 10px;
}
footer .box > .social a {
  font-size: 20px;
  background-color: #313131;
  color: #b9b9b9;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
footer .box > .social a:hover:nth-child(1) {
  background-color: #1877f2;
}
footer .box > .social a:hover:nth-child(2) {
  background-color: #1da1f2;
}
footer .box > .social a:hover:nth-child(3) {
  background-color: red;
}
footer .box > p {
  line-height: 2;
}
footer .box ul li a {
  display: block;
  padding: 15px 0px;
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .box ul li:not(:last-child) a {
  border-bottom: 1px solid #444;
}
footer .box ul li a:hover {
  padding-left: 5px;
}
footer .box ul li a::before {
  content: "\f101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: relative;
  font-size: 14px;
  color: var(--main-color);
  margin-right: 10px;
}
footer .box:nth-child(3) > ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}
footer .box:nth-child(3) > ul li i {
  color: var(--main-color);
  font-size: 25px;
}
footer .box:nth-child(3) > ul li p {
  line-height: 1.7;
  flex: 1;
  margin: 0px;
}
footer .box:last-child {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  align-content: flex-start;
  row-gap: 7px;
  margin-top: 10px;
}
footer .box .img-holder {
  width: 78px;
  border: 3px solid white;
}
footer .box img {
  display: block;
  width: 100%;
}
footer > .copy-right {
  color: white;
  margin: 50px 0px 0px;
  padding: 17px 0px;
  text-align: center;
  border-top: 1px solid #444;
}
footer > .copy-right i {
  color: var(--main-color);
}
@media (max-width: 1024px) {
  footer .box {
    width: 30.5%;
  }
}
@media (max-width: 768px) {
  footer .box {
    width: 47%;
  }
}
@media (max-width: 767px) {
  footer .box {
    width: 100%;
    text-align: center;
  }
  footer .box > .social {
    justify-content: center;
  }
  footer .box:nth-child(3) > ul li {
    flex-direction: column;
    row-gap: 20px;
  }
  footer .box:last-child {
    width: 255px;
    margin: 0 auto;
  }
}
